<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.geek.dao.UserMapper">

<!--    模糊查询-->
    <select id="getUserLike" resultType="com.geek.pojo.User">
        select * from user where name like #{value};
    </select>
<!--    查询语句 -->
    <select id="getUserList" resultType="com.geek.pojo.User">
        select * from mybatis.user;
    </select>

    <select id="getUserById" resultType="com.geek.pojo.User">
        select * from mybatis.user where id = #{id};
    </select>

    <select id="getUserById2" resultType="com.geek.pojo.User" parameterType="map">
        select * from user where id = #{userId};
    </select>

<!--对象中的属性，可以直接取出来-->
    <insert id="addUser" parameterType="com.geek.pojo.User">
        insert into mybatis.user (id,name,pwd) values (#{id},#{name},#{pwd});
    </insert>

<!--    传递map的key-->
    <insert id="addUser2" parameterType="map">
        insert into mybatis.user (id,name,pwd) values (#{userId},#{userName},#{password});
    </insert>

    <update id="updateUser" parameterType="com.geek.pojo.User">
        update mybatis.user set name = #{name},pwd=#{pwd} where id = #{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id = #{id};
    </delete>
</mapper>